/* Eric Meyer's Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

:root {
  --blue: #0067b8;
  --indigo: #243a5e;
  --purple: #8661c5;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #d83b01;
  --yellow: #ffb900;
  --green: #107c10;
  --teal: #008575;
  --cyan: #30e5d0;
  --white: #fff;
  --gray: #505050;
  --gray-dark: #2f2f2f;
  --primary: #107c10;
  --secondary: #000;
  --success: #107c10;
  --info: #d2d2d2;
  --warning: #ffb900;
  --danger: #dc3545;
  --light: #fff;
  --dark: #000;
  --breakpoint-sm: 540px;
  --breakpoint-md: 860px;
  --breakpoint-lg: 1084px;
  --font-family-sans-serif: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --font-family-monospace: Consolas, "Courier New", Courier, monospace;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

​ body {
  line-height: 1;
  width: 100%;
  min-height: 100vh;
}

​ ol,
ul {
  list-style: none;
}
​ blockquote,
q {
  quotes: none;
}
​ blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
​
/* Remember to define focus styles! */
:focus {
  outline: 0;
}
​
/* Remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
​ del {
  text-decoration: line-through;
}
​
/* Tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* main------------------------------------ */

/* section1---------------------------------- */
main{
  height: max-content;
}
.section-1{
  display: grid;

  grid-template-rows:repeat(11, minmax(280px, 1fr));
  grid-template-columns: repeat(1, minmax(280px, 1fr));
  grid-template-areas: 
  "one"
  "two"
  "three"
  "four"
  "five"
  "six"
  "seven"
  "eight"
  "nine"
  "ten"
  "eleven";
  
  border: 2px solid rgb(255, 255, 255);

}



.img-game-1{
 background: url(../img/img-game-001.webp);
 grid-area: one;
 border: 1px solid red;
 position: relative;
}


.img-game-2{
 background: url(../img/carusel-02.jpg);
  grid-area: two;
}
/* .img-game-2 a img:hover{
  transform: scale(1.1) ;
  overflow: hidden;
} */
.img-game-3{
  background-image: url(../img/img-game-003.jpg);
  grid-area: three;
}
.img-game-4{
  background-image: url(../img/img-game-004.jpg);
  grid-area: four;
  position: relative;
}
.img-game-5{
  background-image: url(../img/img-game-005.jpg);
  grid-area: five;
}
.img-game-6{
  background-image: url(../img/img-game-006.webp);
  grid-area: six;
}
.img-game-7{
  background-image: url(../img/img-game-007.jpg);
  grid-area: seven;
}
.img-game-8{
  background-image: url(../img/img-game-008.jpeg);
  grid-area: eight;
}
.img-game-9{
  background-image: url(../img/img-game-009.jpg);
  grid-area: nine;
}
.img-game-10{
  background-image: url(../img/img-game-010.avif);
  grid-area: ten;
}
.img-game-11{
  background-image: url(../img/img-game-011.webp);
  grid-area: eleven;
  position: relative;
}


.img-div{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  border: 2px solid white;
  overflow:hidden;
 }
 
 .scale-1{
 
  background-image: url(../img/img-game-001.webp);
 }
 .scale-2{
  background: url(../img/carusel-02.jpg);
 }
 .scale-3{
  background-image: url(../img/img-game-003.jpg);
 }
 .scale-4{
  background-image: url(../img/img-game-004.jpg);
 }
 .scale-5{
  background-image: url(../img/img-game-005.jpg);
 }
 .scale-6{
  background-image: url(../img/img-game-006.webp);
 }
 .scale-7{
  background-image: url(../img/img-game-007.jpg);
 }
 .scale-8{
  background-image: url(../img/img-game-008.jpeg);
 }
 .scale-9{
  background-image: url(../img/img-game-009.jpg);
 }
 .scale-10{
  background-image: url(../img/img-game-010.avif);
 }
 .scale-11{
  background-image: url(../img/img-game-011.webp);
 }
 .scale-hover{
 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.7s ease-in-out; 
 }
 .scale-hover:hover{
  cursor: pointer;
  transform: scale(1.2);
 }

 .game-name {
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  position: absolute;
  top:70%;
  left:5% ;
  z-index: 4;
}
.game-name:hover{
  border-bottom: 2px solid white;
}

.get-it-now{
  font-size: 1rem;
  color: white;
  text-decoration: none;
  position: absolute;
  top:85%;
  left:5% ;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.get-it-now:hover{
  background-color: rgb(107, 107, 3);
  border-radius: 5px;
}

 /* man section1 end----------------------------------------------------------- */

/* footer------------------------------------------------------- */
footer{
  background-color: var(--info);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 1rem 1rem;
}
footer h3{
  margin-bottom: 2rem;
}

.footer-section-1 ul {
  border-left: 2px solid gray;
  border-radius: 2px;
}
.footer-section-1 ul li ,
.footer-section-2 ul li {
  padding: 0.5rem 0.5rem;
  
}
.footer-section-1 ul li a,
.footer-section-2 ul li a{
  color: var(--gray-dark);
  text-decoration: none;
}
.footer-section-1{
  display: flex;
  flex-direction: column;
  gap: 2rem;
 
}

.footer-section-2 ul{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* footer end-------------------------------------------------------------- */


/* media brake----------------------------------------------------- */
 
  @media screen and (min-width: 480px ) {
  
  }
  @media screen and (min-width: 768px ) {
    /* main section1---------- */
    .section-1{ 
      grid-template-rows:repeat(6, minmax(280px, 1fr));
      grid-template-columns: repeat(2, minmax(280px, 1fr));
      grid-template-areas: 
    "one two"
    "three four"
    "five six"
    "seven eight"
    "nine ten"
    "eleven eleven";}
/* footer--------------------------------- */
    .footer-section-1{
      flex-direction: row;
    }
  }
  @media screen and (min-width: 992px ) {
  
    .section-1{grid-template-rows:repeat(6, minmax(400px, 1fr));
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "one one two three"
  "one one four four"
  "five six four four"
  "seven eight nine ten"
  "eleven eleven eleven eleven"
  "eleven eleven eleven eleven" ;} 
  /* footer-------- */
  .footer-section-1 {
    gap: 20%;
  }
  .copy-right{
    margin-left: auto;
  }
  }


  /* media brake----------------------------------------------------- */